* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;

    header {
        max-width: 1440px;
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(25, 23, 32, 0.5);
        padding: 0 94px;
        box-sizing: border-box;
        position: fixed;
        right: 0;
        left: 0;
        margin: 0 auto;
        z-index: 1;

        .nav {
            max-width: 850px;
            flex-grow: 1;
            padding: 0 40px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            a {
                font-weight: 500;
                font-size: 15px;
                color: white;
                &:hover {
                    color: #FFC700;
                }
            }
        }

        .user-panel {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .icon {
                width: 26px;
                height: 26px;
                margin-right: 45px;

                &:nth-last-child(1) {
                    margin-right: 0;
                }
            }

            .search {
                background: url(../images/ikons/search.png) no-repeat center center / contain;
            }

            .user {
                background: url(../images/ikons/user.png) no-repeat center center / contain;
            }

            .basket {
                background: url(../images/ikons/buy.png) no-repeat center center / contain;
            }
        }
    }

    .picture {
        height: 620px;
        background-color: #2B2835;
        position: relative;
        padding: 20px 90px 0 90px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 190px;

        .image {
            width: 850px;
            height: 760px;
            background: url(../images/picture.png) no-repeat top left / contain;
            position: absolute;
            left: 0;
            top: 0;
        }

        .card {
            width: 50%;
            padding: 0 80px;
            box-sizing: border-box;
            position: relative;

            .head {
                color: white;
            }

            .subhead {
                color: white;
            }

            .buy {

                .price {
                    color: #F2F2F2;
                }
            }
        }
    }

    .content {
        padding: 0 70px;
        margin-bottom: 90px;

        .product-card {
            display: flex;
            justify-content: space-between;
            margin-bottom: 150px;

            .card-txt {
                max-width: 480px;
                color: #2B2835;
                padding: 50px 20px;

                h2 {
                    margin-bottom: 7px;
                }

                .subhead {
                    font-size: 50px;
                    margin-bottom: 20px;
                }
            }

            .slider {
                flex-grow: 1;
                max-width: 750px;
                position: relative;

                .slide {
                    width: 100%;
                    height: 100%;
                    background: url(../images/slide1.png) no-repeat center center / contain;
                }

                .points {
                    position: absolute;
                    bottom: -20px;
                    right: 0;
                    left: 0;
                    margin: auto;
                    display: flex;
                    justify-content: center;

                    .point {
                        width: 10px;
                        height: 10px;
                        background: #D1D1D1;
                        border-radius: 50%;
                        margin: 0 7px;
                    }

                    .active {
                        background: black;
                    }
                }
            }
        }

        .goods {
            display: flex;
            align-items: stretch;
            justify-content: space-between;

            .little-card {
                background: #F8F8F9;
                margin: 0 20px;
                padding: 35px;
                width: 33%;
                min-height: 560px;
                box-sizing: border-box;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                .img {
                    position: absolute;
                    top: 40px;
                    right: 40px;
                    bottom: 40px;
                    left: 40px;
                }

                h3 {
                    font-weight: 500;
                    font-size: 50px;
                    position: relative;
                    margin-bottom: 4px;
                    color: #2B2835;
                }

                .description {
                    font-size: 14px;
                    color: #2B2835;
                    position: relative;
                    max-width: 267px;
                    margin-bottom: 20px;
                }

                .buy {
                    position: relative;

                    .price {
                        font-weight: 600;
                        font-size: 25px;
                        color: #9D8220;
                        margin-right: 20px;
                    }
                }
            }


        }

    }

}

.color-pick {
    margin-bottom: 45px;

    p {

        &:nth-child(1) {
            font-size: 40px;
            font-weight: normal;
            margin-bottom: 10px;
        }

        &:nth-child(2) {
            font-weight: normal;
            margin-bottom: 14px;
        }

    }

    .pallete {
        display: flex;

        .clr-wrap {
            border-radius: 50%;
            margin-right: 10px;
            width: 46px;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .clr {
                width: 37px;
                height: 37px;
                border: 1px solid #EAEAEA;
                box-sizing: border-box;
                border-radius: 50%;
                box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.135817);
            }

            &:nth-child(1) {
                .clr {
                    background-color: white;
                }
            }

            &:nth-child(2) {
                .clr {
                    background-color: #DD5656;
                }
            }

            &:nth-child(3) {
                .clr {
                    background-color: black;
                }
            }
        }

        .active {
            border: 1px solid black;
        }
    }
}

footer {
    background-color: #2B2835;
    min-height: 320px;

    .content {
        margin-bottom: 0 !important;

        .top-footer {
            display: flex;
            justify-content: space-between;
            padding: 60px 0 0 0;

            .flex-el {
                margin: 0 40px;
                margin-bottom: 60px;
            }

            .info {
                h4 {
                    color: white;
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 6px;
                }

                a {
                    color: rgba(255, 255, 255, 0.7);
                    font-size: 12px;
                    font-weight: 200;
                    margin-bottom: 6px;
                    display: block;

                    &:hover {
                        color: #FFC700;
                    }
                }
            }

            .social {
                display: flex;
                padding: 30px 0;

                .icon {
                    width: 33px;
                    height: 33px;
                    margin-right: 10px;
                }

                .insta {
                    background: url(../images/ikons/insta.png) no-repeat center center / contain;
                }

                .fb {
                    background: url(../images/ikons/fb.png) no-repeat center center / contain;
                }

                .tw {
                    background: url(../images/ikons/tw.png) no-repeat center center / contain;
                }

                .wp {
                    background: url(../images/ikons/wp.png) no-repeat center center / contain;
                }
            }
        }

        .bottom-footer {
            padding: 14px;
            box-sizing: border-box;
            p {
                font-weight: 500;
                font-size: 12px;
                color: rgba(255, 255, 255, 0.3);
                text-align: center;
                
            }
        }
    }
}


.logo {
    min-width: 50px;
    height: 50px;
    background: url(../images/logo.png) no-repeat center center / contain;
    cursor: pointer;
}

.btn {
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    height: 40px;
    padding: 0 35px;
    cursor: pointer;
}

.btn-longer {
    padding: 0 50px;
}

.btn-yellow {
    background: #FFC700;
    color: black;
}

.btn-black {
    background: black;
    color: white;
}

.head {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 12px;
}

.subhead {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
    position: relative;

    span {
        position: absolute;
        top: -50%;
        font-size: 40px;
        font-weight: normal;
    }
}

.buy {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    .price {
        font-weight: normal;
        font-size: 40px;
        margin-right: 35px;

    }
}

.info {
    font-weight: 500;
    font-size: 13px;
}

.yellow-text {
    color: #FFC700;
}